/* add */
.add {
    margin: 0 auto;
    margin-top: 120px;
    max-width: 800px;
  }
  
  .add .photo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    cursor: pointer;
  }
  
  .add input, .add textarea, .add .photo {
    background-color: #EFEFEF;
    border: none;
  }
  
  .add form button {
    background-color: #EFC81A;
    max-width: 300px;
  }