@font-face {
    font-family: "Airbnb";
    src: url(../../../assets//fonts/airbnb.woff2);
    font-display: swap;
  }
  .ff-airbnb {
    font-family: "Airbnb", sans-serif;
  }
.profile {
    margin: 0 auto;
    margin-top: 120px;
    max-width: 800px;
  }
  
  .profile .icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  .profile .icon:hover {
    cursor: pointer;
  }
  
  .profile .picture {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  