.imagination img{
    width: 50% !important;
}

.title-popular-recipe{
    margin-top: -65px;
    margin-left: 20px;
}.imagination img{
    width: 90% !important;
}

.title-popular-recipe{
    margin-top: -23%;
    margin-left: 10%;
    font-size: 20px;
}