.imagination img{
    width: 50% !important;
}

.title-popular-recipe{
    margin-top: -65px;
    margin-left: 20px;
}.imagination img{
    width: 90% !important;
}

.title-popular-recipe{
    margin-top: -23%;
    margin-left: 10%;
    font-size: 20px;
    color: white;
}
.img{
    height: 100%;
    width: 100%;
    margin: auto;
    object-fit: fill;
    border-radius: 20px;
}
.card-title{
    margin-top: -50px;
    color: white;
}
.link{
    text-decoration: none;
}
@media screen and (max-width: 576px){
    .imagination{
        display: flex;
        flex-direction: column;
    }
}
/* .card1{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
} */