/* video */
.video {
    margin-top: 50px;
  }
  
  .video .react-player {
    height: 250px !important;
  }
  
  @media (min-width: 576px) {
    .video .react-player {
      height: 350px !important;
    }
  }
  
  @media (min-width: 768px) {
    .video .react-player {
      height: 400px !important;
    }
  }
  
  @media (min-width: 992px) {
    .video, .other {
      margin-top: 70px;
    }
  
    .change {
      height: 100% !important;
    }
  
    .other img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }
  
  @media (min-width: 1200px) {
    .video, .other {
      margin-top: 60px;
    }
  
    .other img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }